@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    /* Typeface Variables */
    --SerifFont: "Kelly Slab", serif;
    --SansFont: "Quicksand", sans-serif;
    --txtColor1: black;
    --txtColor2: white;
    --txtAccent1: rgba(3, 54, 73, 1);
    --txtAccent2: rgba(125, 125, 125, 1);

    /* Color Variables */
    --bgMain: white;
    --bgAccent1: rgba(3, 22, 52, 1);
    --bgAccent2: rgba(3, 101, 100, 1);
    --bgAccent3: rgba(205, 179, 128, 1);

    /* Button Colors */
    --btnColor1: black;
    --btnColor2: rgba(205, 179, 128, 1);
    --btnColor3: rgba(232, 221, 203, 1);
}

html {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Global Stylings */
h1 {
    font-family: var(--SerifFont);
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

h2 {
    font-family: var(--SerifFont);
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

h3 {
    font-family: var(--SerifFont);
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

h4 {
    font-family: var(--SerifFont);
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

h5 {
    font-family: var(--SerifFont);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

h6 {
    font-family: var(--SerifFont);
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
}

.button1 {
    background-color: var(--bgAccent3);
    border-radius: 10px;
    padding: .5rem 1rem;
    color: var(--txtColor2);
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    gap: 0;
    min-height: 100vh;

    min-height: 100svh;

    background-color: var(--bgMain);
}

@media only screen and (max-width: 600px) {

}

/* Targeted Styles */

header {
    background-color: var(--bgAccent2);
    grid-row-start: 1;
    position: sticky;
    top: 0;
    min-height: 2rem;
    max-height: 2.25rem;
    padding: 5px 10px 2px 10px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

header #logo_initials {
    font-family: var(--SerifFont);
    color: var(--txtColor2);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

header nav #ulHeader {
    display: flex;
    flex-direction: row;
}

header nav #ulHeader li {
    list-style: none;
    padding-left: 10px;
}

header a{
    font-family: var(--SerifFont);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--txtColor2);
}

header #menu_icon {
    display: none;
}

header .menu {
    display: none;
}

@media only screen and (max-width: 500px) {
    header nav #ulHeader {
        display: none;
    }

    header #menu_icon {
        display: block;
        float: right;
        width: 28px;
        cursor: pointer;
    }

    header .menu {
        display: none;
        position: relative;
        top: 40px;
        z-index: 1;
        background-color: var(--bgAccent2);
        padding: 1rem;
    }

    header #ulMenu {
        list-style: none;
        display: block;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    header #ulMenu li {
        margin-bottom: 10px;
    }
}

main {
    grid-row-start: 2;
    font-family: var(--SansFont);
    width: 100%
}

#bannerArea {
    background: #031634;
    background: linear-gradient(0, var(--bgAccent1) 0%, var(--txtAccent1) 50%, var(--bgAccent2) 100%);
    padding: 0;
}

#banner {
    display: grid;
    grid-template: 50px 200px 50px / repeat(6, 1fr);
    grid-gap: 30px;
    /* background-color: var(--bgAccent1); */
    color: var(--txtColor2);
}

#wave {
    background: url("./../images/bgcurve2.svg") center bottom no-repeat;
    /* transform: rotate(180deg); */
    background-size: cover;
    content: '';
    top: 10px;
    height: 173px;
    position: relative;
    min-width: 100%;
}

#banner #name {
    display: block;
    grid-column-start: 4;
    grid-row-start: 2;
    text-align: right;
    place-self: center end;
    text-transform: capitalize;
}

#banner #name h1 {

}

#circle_portrait {
    grid-column-start: 5;
    grid-row-start: 2;
}

#circle_portrait img{
    max-width: 250px;
    max-height: 250px;
    object-fit: fill;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    #circle_portrait img {
        max-width: 200px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    #bannerArea {
        width: 100%;
        padding-top: 1rem;
    }

    #banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #circle_portrait img {
        order: 1;
        max-width: 100px;
        max-height: 100px;
    }

    #banner #name {
        order: 2;
    }

    #banner #name h1 {
        font-size: 2.5rem;
    }

    #banner #name h4 {
        font-size: 1.25rem;
    }

    #wave {
        height: 100px;
        margin-bottom: 1rem;
    }
}


#mid_2col {
    display: grid;
    grid-template: repeat(2, 1fr)/ 60% 40%;
    grid-gap: 2rem;
    justify-content: center;
    margin: 1rem 3rem;
}

#mid_2col section {
    /* border: 1px solid red; */
}

#mid_2col h3 {
    position: relative;
    line-height: 3rem;
    top: .33rem;
}

.alignLeft {
    text-align: end;
    float: right;
}

#latest_blogs {
    grid-row: 1 / 3;
    padding-right: 1rem;
}

#latest_blogs h2 {
    color: var(--txtAccent1);
}

#blog_button {
    float: right;
    margin-top: 2rem;
    width: 25%;
}

@media only screen and (max-width: 900px){
    #blog_button {
        width: 50%;
    }
}

@media only screen and (max-width: 500px){

    #blog_button {
        width: 75%;
    }
}

.blog_list {
    float: right;
    max-width: 80%;
}

.blog {
    margin-bottom: 1rem;
    padding-top: .5rem;
}

.blogTitle {
    color: var(--txtAccent1);
}

.blogPublishedAt {
    color: var(--txtAccent2);
}

.synopsis {
    font-size: 1.25rem;
    font-family: var(--SansFont);
}

#short_about {
    padding-left: 1rem;
}

#short_about h3 {
    color: var(--txtAccent1);
    margin-bottom: .5rem;
}

#short_about article{
    max-width: 80%;
    float: left;
}

#short_about p {
    font-size: 1.25rem;
    font-family: var(--SansFont);
}

#short_about a {
    float: right;
    margin-right: 2rem;
    text-decoration: none;
    color: var(--txtAccent2);
}

#short_about a:hover {
    text-decoration: underline;
    color: var(--txtAccent1)
}

#skills {
    padding-left: 1rem;
    font-size: 1.25rem;
    font-family: var(--SansFont);
}

#skills h3 {
    padding-bottom: .5rem;
}

#skills #icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.skillIcon {
    max-width: 50px;
    /* background-color: var(--bgAccent3); */
    padding: .5rem;
    border-radius: 50%;
}

.skillIcon img {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 90%;
}

@media only screen and (max-width: 600px) {
    #mid_2col {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    #short_about {
        text-align: center;
        vertical-align: middle;
        order: 1;
        padding: 0;
    }

    #short_about article{
        float: none;
        margin: 0 auto;
    }

    #short_about p {
        font-size: 1rem;
    }

    #skills {
        order: 2;
        margin: .5rem 3rem;
    }

    #latest_blogs {
        text-align: center;
        margin: .5rem 3rem;
        order: 3;
    }

    #latest_blogs .blog_list {
        float: none;
        margin: 0 auto;
    }

    #latest_blogs .synopsis {
        font-size: 1rem;
    }
}

.card {
    background-color: var(--bgAccent2);
    color: var(--txtColor2);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px black;
}

#featured_projects {
    margin: .5rem 3rem;
    padding: 1rem 1rem;
    text-align: center;
}

#cardArea {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgAccent3);
    /* box-shadow: 2px 2px 5px black; */
    color: var(--txtAccent1);
    margin: 10px 1rem 2rem 1rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    max-width: 300px;
    min-width: 200px;
}

.projectCard h4 a{
    font-size: 1.125em;
}

.projectCard a{
    color: var(--txtAccent1);
    text-decoration: none;
}

.projectCard img {
    max-width: 80%;
}

.projectCard .brief p{
    color: var(--txtAccent1);
    font-size: 1rem;
    font-family: var(--SansFont);
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    #featured_projects {
        margin: .5rem 0 0 0;
        border-radius: 0;
        box-shadow: none;
    }

    #cardArea {
        flex-wrap: wrap;
    }
}

footer {
    grid-row-start: 3;
    margin-top: 2rem;
    background-color: var(--bgAccent1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem;

}

#copyright {
   font-size: 1.5rem;
   color: var(--txtColor2);
}

.footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: var(--SansFont);
    color: var(--txtColor2);
    font-size: 1.5rem;
}

.footer ul a {
    color: var(--txtColor2);
    text-decoration: none;
}

.footer ul li::after {
    padding: 0 5px;
    content: '|';
}

.footer ul li:last-child::after {
    content: '';
}

@media only screen and (max-width: 800px) {
    footer {
        margin: 0;
    }

    .footer ul {
        flex-direction: column;
    }

    .footer ul li::after {
        padding: 0;
        content: '';
    }
}